.attack{
    background-image: url('images/FrontFaces/AttackCard.jpg');
    background-size: 100%;

}

.shield{
    background-image: url('images/finalfantasyImages/bomb.jpg');
    background-size: 100%;
}

.terra{
    background-image: url('images/finalfantasyImages/terra.jpg');
    background-size: 100%;
}

.edgar{
    background-image: url('images/finalfantasyImages/edgar.jpg');
    background-size: 100%;
}

.darkKnight{
    background-image: url('images/finalfantasyImages/darkKnight.jpg');
    background-size: 100%;
}

.king{
    background-image: url('images/finalfantasyImages/king.jpg');
    background-size: 100%;
}

.terra2{
    background-image: url('images/finalfantasyImages/terra2.jpg');
    background-size: 100%;
}

.ramuth{
    background-image: url('images/finalfantasyImages/ramuth.jpg');
    background-size: 100%;
}