body{
    font-size: 0;
    background: url('images/finalfantasyImages/FFVI_Background.jpg');
    background-size: cover;
}

.game-logo{
    height: 85%;
    width: 100px;
    background-color: white;
    position: absolute;
}

header{
    height: 15vh;
    background-color: black;
    color: white;
    padding: 10px;
    position: relative;
}

h1{
    font-size: 1rem;
    text-align: center;
}

h3{
    font-size: 1rem;
}

a{
    color: white;
    text-decoration: unset;
}

p{
    font-size: 1rem;
}

nav{
}

ul{
    width: 500px;
    margin: auto;
    text-align: center;
    padding: 0;
}

li{
    font-size: 1rem;
    display: inline-block;
    width: 100px;

}

.gutter{
    width: 20%;
    height: 85vh;
    display: inline-block;
    vertical-align: top;
    #background-color: #6a6969;
}

.game-area{
    display: inline-block;
    width: 60%;
    height: 85vh;
    #background-color: #fffabe;
}

.row{

    display: flex;
    justify-content: space-evenly;
}
.cardContainer{
    height: 200px; /*fix this eventually*/
    width: 115px;
    display: inline-block;
    perspective: 1000px;
}
.card {
    height: 80%;
    width: 80%;
    position: relative;
    top: 10%;
    left: 10%;
}

.card:hover {
    transform: scale(1.2);
}
.back, .front {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border-style: solid;
    border-width: thin;
    border-color: #414042;
}
.front{
    background: url('images/Cards/cardBack.jpg');
    background-size: 100% 100%;

}
.back{
    transform: rotateY(180deg);/*flip at beginning so when triggered it will flip correctly by flipper*/
}

.card.revealed.flipper{
    transform: rotateY(180deg)/* once reveal is added to card it will trigger this and flip it*/
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
}