body{
    font-size: 0;
}

.game-logo{
    height: 85%;
    width: 100px;
    background-color: white;
    position: absolute;
}

header{
    height: 15vh;
    background-color: black;
    color: white;
    padding: 10px;
    position: relative;
}

h1{
    font-size: 1rem;
    text-align: center;
}

h3{
    font-size: 1rem;
}

a{
    color: white;
    text-decoration: unset;
}

p{
    font-size: 1rem;
}

nav{
}

ul{
    width: 500px;
    margin: auto;
    text-align: center;
    padding: 0;
}

li{
    font-size: 1rem;
    display: inline-block;
    width: 100px;

}

.gutter{
    width: 20%;
    height: 85vh;
    display: inline-block;
    vertical-align: top;
    background-color: #6a6969;
}

.game-area{
    display: inline-block;
    width: 60%;
    height: 85vh;
    background-color: #fffabe;
}

.row{
    display: flex;
    justify-content: space-evenly;
}
.cardContainer{
    height: 200px;
    width: 150px;
    background-color: red;
    display: inline-block;
}
.card {
    height: 80%;
    width: 80%;
    background-color: chartreuse;
    position: relative;
    top: 10%;
    left: 10%;
}

.back, .front {
    position: absolute;
    height: 100%;
    width: 100%;
}
.front{
    background-color: #1b6d85;
}
.back{
    background-color: pink;
}
.card.revealed .front{
    display: none;
}