body{
    font-size: 0;
    margin: 0;
    background: url('images/ff6_backgroundImg.jpg');
    background-size: cover;
}

header{
    box-sizing: border-box;
    height: 15vh;
    padding: 10px;
    position: relative;
}

header img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 15vh;
}

h1{
    font-size: 1rem;
    text-align: center;
}

h3{
    font-size: 1rem;
}

a{
    color: black;
    text-decoration: unset;
}

p{
    font-size: 1rem;
}

ul{
    list-style-type: none;
    font-size: 1rem;
    text-align: right;
    font-family: Arial;
    position: absolute;
    right: 0px;
    width: 20%;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

li{
    position: relative;
    background-color: white;
    margin-right: 10px;

}
button{
    font-size: 1rem;
    background-color: white;
    border-width: 0;
    height: 21px;
}

button:hover, li:hover{
    color: red;
}

.strikeThrough{
    text-decoration: line-through;
}

.gutter{
    color: white;
    border-radius: 10px;
    box-sizing: border-box;
    border: 3px solid darkgrey;
    background: linear-gradient(to bottom right, rgba(0,0,170,0.75), rgba(0,0,40,0.75));
    text-align: center;
    width: 20%;
    height: 85vh;
    display: inline-block;
    vertical-align: top;
}

.game-area{
    display: inline-block;
    width: 60%;
    height: 85vh;
    #background-color: #fffabe;
}

.row{
    height: 33.33%;
    display: flex;
    justify-content: space-evenly;
}
.cardContainer{
    height: 100%; /*fix this eventually*/
    width: 20%;
    display: inline-block;
    perspective: 1000px;
}
.card {
    height: 80%;
    width: 80%;
    position: relative;
    top: 10%;
    left: 10%;
}

.cardContainer .card:hover {
    transform: scale(1.2);
}
.back, .front {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    border-radius: 10px;
    border-style: solid;
    border-width: thin;
    border-color: #414042;
}
.front{
    background: url('images/Cards/cardBack.jpg');
    background-size: 100% 100%;

}
.back{
    transform: rotateY(180deg);/*flip at beginning so when triggered it will flip correctly by flipper*/
}

.card.revealed.flipper, .playerCardPlacement .card.revealed.flipper{
    transform: rotateY(180deg)/* once reveal is added to card it will trigger this and flip it*/
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
}

.modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    margin: 10vh 10vw;
    width: 80%;
    height: 80%;
}
h4{
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 4rem;
    margin: 0;
    color: white;
}

#imgCardModal{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    border-radius: 5%;
}

.playerInfo h1{
    margin-top: 10%;
    font-size: 2rem;
}
.playerInfo h2{
    font-size: 1.5rem;
}
.playerInfo h3{
    font-size: 2rem;
}
.playerStat{
    height: 40%;
}
.cardHolder{
    height: 60%;
    width: 100%;
    text-align: center;
}

.playerCardPlacement{
    position: relative;
    height: 100%;
    width: 100%;
    perspective: 1000px;
}

#introModal{
    display: block;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255,255,255);
    text-align: center;
}
#tutorialImg{
    width: 100%;
    margin-bottom: 5%;
}

#introStartButton{
    height: 50px;
    width: 160px;
    border-color: black;
    border-radius: 10px;
    border-width: 3px;
    font-family: inherit;
    font-weight: bold;
    color: black;
    letter-spacing: 2px;
}